.board
  div
    p(style='position:absolute;top:0;left:15px;font-size:10px;') Press esc to return to main menu
    p(style='position:absolute;top:0;right:15px;font-size:10px;')
      strong= turn
      | &nbsp;turn
  each row, y in board
    each block, x in row
      -block = board[x][y]
      if block.type === 'p0'
        .block(class="#{JSON.stringify(block.pos)} #{x}-#{y}")
          .p0
      else if block.type === 'p1'
        .block(class="#{JSON.stringify(block.pos)} #{x}-#{y}")
          .p1
      else if block.type === 'empty'
        .block.empty(class="#{JSON.stringify(block.pos)} #{x}-#{y}")
